button img {
  transition: all 0.7s ease-in-out;
}

.LogView {
  transition: all 0.7s ease-in-out;
}
.LogView.apear {
  transition: all 0.7s ease-in-out;
  visibility: visible;
  position: fixed;
  bottom: 5%;
  left: 20%;
  right: 5%;
  top: 5%;
}
.LogView.apear.desapear {
  transition: all 0.7s ease-in-out;
  transform: translateY(-100%);
}

.BasicView {
  transition: all 0.7s ease-in-out;
}
.BasicView.darken {
  transition: all 0.7s ease-in-out;
  background-color: grey;
  color: #303030;
}
.BasicView.darken button {
  transition: all 0.7s ease-in-out;
  background-color: grey;
  color: #303030;
  border: #303030;
}
.BasicView.darken img {
  transition: all 0.7s ease-in-out;
}
.BasicView.darken.desapear {
  transition: all 0.7s ease-in-out;
  transform: translateY(-100%);
}
.BasicView.desapear {
  transition: all 0.7s ease-in-out;
  transform: translateY(-100%);
}

.BBDD {
  transition: all 0.7s ease-in-out;
}
.BBDD.apear {
  transition: all 0.7s ease-in-out;
}
.BBDD.apear.darken {
  transition: all 0.7s ease-in-out;
  background-color: darkgrey;
}

.LoginUsers {
  transition: all 0.7s ease-in-out;
}
.LoginUsers .LoginUserForm {
  transition: all 0.7s ease-in-out;
}
.LoginUsers .LoginUserForm.apear {
  visibility: visible;
  position: fixed;
  bottom: 35%;
  top: 35%;
  left: 35%;
  right: 35%;
}
.LoginUsers .LoginUserForm.desapear {
  visibility: hidden;
  position: fixed;
  bottom: 30%;
  left: 30%;
  right: 200%;
  top: 30%;
}
.LoginUsers .RegisterUserForm {
  transition: all 0.7s ease-in-out;
}
.LoginUsers .RegisterUserForm.apear {
  visibility: visible;
  position: fixed;
  bottom: 35%;
  top: 35%;
  left: 35%;
  right: 35%;
}
.LoginUsers .RegisterUserForm.desapear {
  visibility: hidden;
  position: fixed;
  bottom: 30%;
  left: 30%;
  right: 200%;
  top: 30%;
}
.LoginUsers .RecoverUserForm {
  transition: all 0.7s ease-in-out;
}
.LoginUsers .RecoverUserForm.apear {
  visibility: visible;
  position: fixed;
  bottom: 35%;
  top: 35%;
  left: 35%;
  right: 35%;
}
.LoginUsers .RecoverUserForm.desapear {
  visibility: hidden;
  position: fixed;
  bottom: 30%;
  left: 30%;
  right: 200%;
  top: 30%;
}

.Alert {
  transition: all 0.7s ease-in-out;
}
.Alert.apear {
  transition: all 0.7s ease-in-out;
}
.Alert.enable {
  transition: all 0.7s ease-in-out;
}

.RegsHeaders {
  transition: all 0.3s ease-in-out;
}
.RegsHeaders h1 {
  transition: all 0.3s ease-in-out;
}
.RegsHeaders h1:hover {
  transition: all 0.3s ease-in-out;
  background-color: black;
  color: white;
  border-color: black;
}
.RegsHeaders h1:active {
  transition: all 0.2s ease-out;
  background-color: white;
  color: white;
}
.RegsHeaders h1.enable {
  transition: all 0.4 ease-out;
  background-color: black;
  color: white;
  border-color: white;
}

.RegsBody {
  transition: all 0.7s ease-in-out;
}
.RegsBody .RegbUsers {
  height: 0%;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
}
.RegsBody .RegbUsers.enable {
  transition: all 0.3s ease-in-out;
  height: 90%;
  visibility: visible;
}
.RegsBody .RegbUsers .SelectClis {
  transition: all 0.4s ease-out;
  color: black;
}
.RegsBody .RegbUsers .SelectClis.enable {
  color: lightblue;
}
.RegsBody .RegbUsers .SelectClis:hover {
  color: lightblue;
}
.RegsBody .RegbUsers .SelectPros {
  transition: all 0.4s ease-out;
  color: black;
}
.RegsBody .RegbUsers .SelectPros.enable {
  color: lightblue;
}
.RegsBody .RegbUsers .SelectPros:hover {
  color: lightblue;
}
.RegsBody .RegbProducts {
  height: 0%;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.RegsBody .RegbProducts.enable {
  transition: all 0.3s ease-in-out;
  height: 90%;
  visibility: visible;
}
.RegsBody .RegbUsers1 {
  height: 0%;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.RegsBody .RegbUsers1.enable {
  transition: all 0.3s ease-in-out;
  height: 90%;
  visibility: visible;
}
.RegsBody .RegbUsers2 {
  height: 0%;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.RegsBody .RegbUsers2.enable {
  transition: all 0.3s ease-in-out;
  height: 90%;
  visibility: visible;
}

* {
  font-size: 20px;
  overflow: hidden;
  text-align: center;
}

::-webkit-scrollbar {
  width: 0px;
  height: 100%;
  color: transparent;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

input, select, textarea {
  border: 2.5px solid rgba(161, 161, 161, 0.5019607843);
  border-radius: 5px;
  margin: 10px;
}

button, .button {
  padding: 5px;
  border: 2.5px solid rgba(161, 161, 161, 0.5019607843);
  border-radius: 5px;
}
button:hover, .button:hover {
  border-color: white;
  background-color: rgba(44, 161, 211, 0.5);
}

.BasicView {
  grid-area: 1/1/1/1;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 80% 20%/repeat(6, 1fr);
  grid-column-gap: 40px;
}
.BasicView .BasicViewForm {
  display: grid;
  grid-template: 80% 20%/100%;
  grid-area: 1/1/1/7;
}
.BasicView .BasicViewForm .BasicViewBody {
  display: block;
  grid-area: 1/1/1/1;
}
.BasicView .BasicViewForm .BasicViewBrowser {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  grid-area: 2/1/2/1;
}
.BasicView .BasicViewPokeList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
  grid-area: 2/1/2/7;
}

.LogView {
  visibility: hidden;
  position: fixed;
  bottom: 5%;
  left: 200%;
  right: 5%;
  top: 5%;
  display: grid;
  grid-template: 100%/100%;
}
.LogView .LogViewForm {
  display: grid;
  grid-template: 15% 45% 15% 15%/repeat(3, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  border: transparent 10px;
  grid-area: 1/1/1/1;
  width: 100%;
  height: 100%;
}
.LogView .LogViewForm .LogViewRegister {
  grid-area: 1/3/5/3;
  background-color: white;
  border: 0px solid transparent;
  border-radius: 10px 10px;
  margin: 10px;
  box-shadow: 3.3333333333px 2px 5px black;
}
.LogView .LogViewForm .LogViewIn {
  grid-area: 1/2/3/2;
  background-color: white;
  border: 0px solid transparent;
  border-radius: 10px 10px;
  margin: 10px;
  box-shadow: 3.3333333333px 2px 5px black;
}
.LogView .LogViewForm .LogViewRecovery {
  grid-area: 3/2/5/2;
  background-color: white;
  border: 0px solid transparent;
  border-radius: 10px 10px;
  margin: 10px;
  box-shadow: 3.3333333333px 2px 5px black;
}
.LogView .LogViewForm .LogViewSearch {
  grid-area: 4/1/4/1;
  background-color: white;
  border: 0px solid transparent;
  border-radius: 10px 10px;
  margin: 10px;
  box-shadow: 3.3333333333px 2px 5px black;
}
.LogView .RegisterUserForm {
  grid-area: 2/4/2/10;
  display: grid;
  grid-template: 15% 65% 20%/100%;
  visibility: hidden;
  position: fixed;
  bottom: 30%;
  left: 30%;
  right: 200%;
  top: 30%;
}
.LogView .RegisterUserForm .LogHeader {
  grid-area: 1/1/1/1;
}
.LogView .RegisterUserForm .LogBody {
  grid-area: 2/1/2/1;
}
.LogView .RegisterUserForm .LogFooter {
  grid-area: 3/1/3/1;
}
.LogView .RecoverUserForm {
  grid-area: 2/4/2/10;
  display: grid;
  grid-template: 15% 65% 20%/100%;
  visibility: hidden;
  position: fixed;
  bottom: 30%;
  left: 30%;
  right: 200%;
  top: 30%;
}
.LogView .RecoverUserForm .LogHeader {
  grid-area: 1/1/1/1;
}
.LogView .RecoverUserForm .LogBody {
  grid-area: 2/1/2/1;
}
.LogView .RecoverUserForm .LogFooter {
  grid-area: 3/1/3/1;
}

.PokemonView {
  visibility: hidden;
  position: fixed;
  bottom: 5%;
  left: 5%;
  right: 5%;
  top: 200%;
  display: grid;
  grid-template: 15% 45% 15%/repeat(6, 1fr);
  grid-column-gap: 40px;
}
.PokemonView .PokemonHeader {
  grid-area: 1/5/1/6;
  background-color: white;
  border-radius: 5px;
  box-shadow: 3.3333333333px 10px 20px #363535;
  margin: 10px 20px 30px 20px;
  display: grid;
}
.PokemonView .Pokemonbody {
  grid-area: 2/5/2/6;
  background-color: white;
  border-radius: 5px;
  box-shadow: 3.3333333333px 10px 20px #363535;
  margin: 10px 20px 10px 20px;
  display: grid;
}
.PokemonView .PokemonFooter {
  grid-area: 3/5/3/6;
  background-color: white;
  border-radius: 5px;
  box-shadow: 3.3333333333px 10px 20px #363535;
  margin: 5px 20px 40px 20px;
  display: grid;
  grid-template: repeat(12, 1fr)/repeat(12, 1fr);
}

.Registros {
  margin: 0;
  padding: 0;
  border: 0px solid transparent;
  gap: 0;
  grid-template: 100%/100%;
  display: grid;
  grid-template: 5% 95%/100%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-row-end: 10px;
  background-color: rgba(0, 0, 0, 0);
}
.Registros .RegsHeaders {
  grid-area: 1/1/1/1;
  display: flex;
  flex-flow: wrap column;
  border-radius: 5px;
  box-shadow: 3.3333333333px 10px 20px #363535;
  margin-left: 20px;
  gap: 20px;
  text-align: center;
  padding: 10px;
  justify-content: stretch;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-right: 20px;
}
.Registros .RegsHeaders h1 {
  gap: 20px;
  text-align: center;
  padding: 10px;
  justify-content: stretch;
  justify-content: center;
  align-items: center;
  margin: 0px;
  border-radius: 10px;
}
.Registros .RegsBody {
  grid-area: 2/1/3/1;
  display: grid;
  grid-template: 60% 30% 10%/100%;
  grid-column-gap: 20px;
}
.Registros .RegsBody .RegbUsers {
  gap: 20px;
  text-align: center;
  padding: 10px;
  justify-content: stretch;
  justify-content: center;
  align-items: center;
  grid-area: 1/1/2/1;
  border-radius: 5px;
  box-shadow: 3.3333333333px 10px 20px #363535;
  background-color: white;
  margin: 40px 20px 10px 20px;
}
.Registros .RegsBody .RegbUsers:hover {
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.Registros .RegsBody .RegbUsers .HeaderCli {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  gap: 20px;
  text-align: center;
  padding: 10px;
  justify-content: stretch;
  justify-content: center;
  align-items: center;
}
.Registros .RegsBody .RegbUsers1 {
  grid-area: 2/1/3/1;
  margin: 10px 20px 30px 20px;
  border-radius: 5px;
  box-shadow: 3.3333333333px 10px 20px #363535;
  background-color: white;
}
.Registros .RegsBody .RegbUsers2 {
  grid-area: 2/1/3/1;
  margin: 10px 20px 30px 20px;
  border-radius: 5px;
  box-shadow: 3.3333333333px 10px 20px #363535;
  background-color: white;
}
.Registros .RegsBody .RegbFooter {
  grid-area: 3/1/4/1;
  margin: 10px 20px 40px 20px;
  border-radius: 5px;
  display: flex;
  box-shadow: 3.3333333333px 10px 20px #363535;
  background-color: white;
  gap: 20px;
  text-align: center;
  padding: 10px;
  justify-content: stretch;
  justify-content: center;
  align-items: center;
}
.Registros .RegsBody .RegbProducts {
  grid-area: 1/1/3/1;
  border-radius: 5px;
  margin: 40px 20px;
  box-shadow: 3.3333333333px 10px 20px #363535;
  background-color: white;
}

.MenuPrl {
  display: grid;
  grid-template: 10% 80% 10%/repeat(11, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  grid-area: 1/1/1/1;
  width: 100%;
  height: 100%;
}
.MenuPrl .Informe {
  grid-area: 1/4/3/1;
}
.MenuPrl .Lista {
  grid-area: 2/4/3/7;
  display: grid;
  grid-template: 100%/repeat(3, 1fr);
  grid-row-gap: 20px;
}
.MenuPrl .Lista .Imgs {
  grid-area: 1/1/1/1;
}
.MenuPrl .Lista .Descriptions {
  grid-area: 1/2/1/4;
}
.MenuPrl .Detalles {
  grid-area: 2/7/3/12;
}
.MenuPrl .Botones {
  grid-area: 3/1/4/12;
}
.MenuPrl .SesionExclavo {
  grid-area: 1/4/1/8;
}
.MenuPrl .SesionMaestro {
  grid-area: 1/8/1/12;
}

.PopupView {
  visibility: hidden;
  position: fixed;
  bottom: 50%;
  top: 50%;
  left: 50%;
  right: 50%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3.3333333333px 10px 20px #363535;
  display: grid;
  grid-template: 20% 65% 15%/100%;
}
.PopupView .ListRegActive {
  gap: 20px;
  text-align: center;
  padding: 10px;
  justify-content: stretch;
  justify-content: center;
  align-items: center;
  margin: 2.5px 1.6666666667px 2.5px 1.6666666667px;
  border: 2.5px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}
.PopupView .ListRegActive:hover {
  margin: 10px 5px 10px 5px;
  border: 1.25px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  background-color: rgba(44, 120, 202, 0.5);
}

.ListReg {
  display: grid;
  grid-template: auto/33% 66%;
}
.ListReg p {
  margin: 5px 2.5px;
  border: 0px;
  padding: 0px;
  pad: 0px;
}
.ListReg input, .ListReg select, .ListReg textarea {
  border: 2.5px solid rgba(161, 161, 161, 0.5019607843);
  border-radius: 5px;
  margin: 2.5px 1.6666666667px;
}
.ListReg .ContentLeft {
  grid-area: 1/1/1/2;
}
.ListReg .ContentRigth {
  grid-area: 1/2/1/3;
}

.ListRegCen {
  display: grid;
  grid-template: auto/50% 50%;
}
.ListRegCen p {
  margin: 5px 2.5px;
  border: 0px;
  padding: 0px;
  pad: 0px;
}
.ListRegCen input, .ListRegCen select, .ListRegCen textarea {
  border: 2.5px solid rgba(161, 161, 161, 0.5019607843);
  border-radius: 5px;
  margin: 2.5px 1.6666666667px;
}
.ListRegCen .ContentLeft {
  grid-area: 1/1/1/2;
}
.ListRegCen .ContentRigth {
  grid-area: 1/2/1/3;
}

.ListRegRev {
  display: grid;
  grid-template: auto/66% 33%;
}
.ListRegRev p {
  margin: 5px 2.5px;
  border: 0px;
  padding: 0px;
  pad: 0px;
}
.ListRegRev input, .ListRegRev select, .ListRegRev textarea {
  border: 2.5px solid rgba(161, 161, 161, 0.5019607843);
  border-radius: 5px;
  margin: 2.5px 1.6666666667px;
}
.ListRegRev .ContentLeft {
  grid-area: 1/1/1/2;
}
.ListRegRev .ContentRigth {
  grid-area: 1/2/1/3;
}

.CenterContent {
  gap: 20px;
  text-align: center;
  padding: 10px;
  justify-content: stretch;
  justify-content: center;
  align-items: center;
  width: 100%;
}/*# sourceMappingURL=HojaDeEstilosPoke.css.map */